.content_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: calc(570px - 134px);
  box-sizing: border-box;
  padding: 20px 0px;
}

.version_card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 205px;
  height: 130px;
}

.version_card.secondary .card_content {
  background-color: var(--app-color);
  color: var(--text-color);
}

.card_title {
  text-align: center;
  color: var(--text-color);
  font-size: 12px;
  font-family: Barlow_SemiBold;
  letter-spacing: 0.8px;
}

.card_content {
  -webkit-app-region: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme-color);
  width: 100%;
  height: 75px;
  font-size: 30px;
  font-family: Arimo;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  border: 3px var(--theme-color) solid;
  box-sizing: border-box;
}

.card_option {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}

.card_option .checkbox {
  -webkit-app-region: none;
  transition: 0.2s;
  width: 20px;
  height: 20px;
  border: 1px solid var(--theme-color);
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_option .checkbox i {
  color: white;
  font-size: 12px;
  display: none;
}

.card_option .text {
  color: var(--text-color);
  font-size: 13px;
  font-family: Arimo;
  font-kerning: auto;
}

.card_content:hover {
  border: 3px solid var(--theme-color);
  background-color: white !important;
  color: var(--theme-color) !important;
}

.check {
  background-color: var(--theme-color);
}

.display_icon {
  display: unset !important;
}

.content_hide {
  display: none;
}
