header {
  height: 40px;
  width: 100%;
  position: absolute;
  top: 20px;
  background-color: var(--app-color);
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

header .title {
}

header .title .text {
  color: var(--text-color);
  line-height: 28px;
  font-family: var(--text-ff);
  font-size: var(--title-fs);
  display: inline;
}

.theme_button {
  width: 30px;
  height: 30px;
  border: none;
  box-sizing: border-box;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
}

.theme_button:hover {
  border: 2px var(--theme-color) solid;
}

.theme_button i {
  color: var(--theme-color);
}

.version_info {
  float: right;
  right: 0;
  width: 20px;
  height: 20px;
  margin-top: 4px;
  margin-left: -20px;
  color: var(--theme-color);
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
  -webkit-app-region: none;
}
