/* Root */

:root {
  --text-color: var(--text-light);
  --app-color: var(--app-light);
  --text-light: #2c3437;
  --text-dark: #cbd4d9;
  --app-dark: #090c15;
  --app-light: #ffffff;
  --loading-ff: Akaya_;
  --loading-fs: 20px;
  --title-fs: 17px;
  --text-ff: Barlow_Regular;
  --text-ff-bold: Barlow_Bold;
  --text-ff-semibold: Barlow_SemiBold;
  --theme-color: var(--node-color);
  --node-color: #5fa04e;
  --npm-color: #cc3534;
  --yarn-color: #117cad;
}

/* App Options */

body {
  -webkit-app-region: drag;
}

.non_drag {
  -webkit-app-region: none;
}

/* Font faces */

@font-face {
  font-family: Akaya_;
  src: url(../assets/fonts/AkayaTelivigala-Regular.ttf);
}

@font-face {
  font-family: Barlow_Regular;
  src: url(../assets/fonts/Barlow-Regular.ttf);
}

@font-face {
  font-family: Barlow_Bold;
  src: url(../assets/fonts/Barlow-Bold.ttf);
}

@font-face {
  font-family: Barlow_SemiBold;
  src: url(../assets/fonts/Barlow-SemiBold.ttf);
}

@font-face {
  font-family: Arimo;
  src: url(../assets/fonts/Arimo-Regular.ttf);
}

.transition {
  transition: 0.3s;
}

* {
  user-select: none;
}
