.navbar {
  height: 70px;
  width: 100%;
  background-color: var(--app-color);
  display: flex;
  align-items: center;
  position: absolute;
  padding: 8px;
  bottom: 0;
  box-sizing: border-box;
}

.navbar .navigation {
  width: calc(100% / 3);
  height: calc(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  transition: background-color 0.3s, color 0.1s;
  cursor: pointer;
  color: var(--text-color);
}

.navbar .navigation:hover {
  color: white;
}

.navbar .node:hover {
  background-color: var(--node-color);
}

.navbar .npm:hover {
  background-color: var(--npm-color);
}
.navbar .yarn:hover {
  background-color: var(--yarn-color);
}

.selected {
  background-color: var(--theme-color);
  color: white !important;
}
